@model EVEStandard.ASPNETCoreSample.Models.SecurePageViewModel

@{
    ViewData["Title"] = "Secure";
}

<h2>Secure page</h2>

<p>
    This is a secure page.
</p>
<p>
    You are logged in as: @Model.CharacterName, you are a member of: @Model.CorporationName and you are currently located in @Model.CharacterLocation.
</p>

